@charset "UTF-8";
/* CSS Document */

body{


}

h1{
  color:rgba(118,153,14,1);
  font-size: 2.5em;
}

h3{
  color:rgba(118,153,14,1);
  font-weight: 300;
}
.jumbotoron{
  background-color: transparent;
}
.img-responsive{
  max-width: 200px;
  margin: 0 auto;
}
